{% extends "base_generic.html" %}

{% block content %}

    <div class="row">
    <img class="col-6 pb-2 pt-2" alt="comic store" src="https://fwtx.com/downloads/29395/download/IMG_9094.jpg?cb=0c27c9f1eb1f7ef5400afde0b0aa32a7">
    <div class="col-6 pb-2 pt-2">
        <div class="card" style="background-color: #FFF7ED">
          <div class="card-header">
              <h2>За нас</h2>
          </div>
          <div class="card-body">
            <p class="card-text">
                Компанијата „Стрипови за Душа“ е основана во 2008 година. Основната дејност на компанијата е продажба на
                стрипови од познати светски издавачки куќи. Во моментот „Стрипови за Душа“е снабдена со повеќе од 50.000
                различни наслови и со најповолни цени во регионот.
            </p>
            <p>
                Покрај големиот избор на стрипови, нашиот асортиман изобилува со популарни изданија на книги од секој жанр,
                каде што може да се најде од биографии, музички книги, класици до популарна психологија. Секако имаме
                широк избор и за љубителите на хорор, фантазија , научна фантастика и уште многу разни жанрови.
            </p>
              <p>
                Покрај тоа, во продавницата имаме и посебен оддел - GAME ON - каде што се сместени најновите игри за
                  Sony PlayStation, X-box, WII.
              </p>

              <p>
                Повелете посетете нè, при што ќе можете и да се освежите и да уживате во амбиентот на кафе-барот Готам,
                  кој е во склоп на книжарницата.
              </p>
              <p>
                Ве очекуваме!
            </p>
          </div>
        </div>
    </div>
    </div>

{% endblock %}